h1 {
    text-align: center;
    font-size: 140pt;
    color: #000099;
    margin-bottom: 5px;
    font-family: pirateFont;        
}

table {
    margin: 5px;
    width: 290px;
}

th {
    padding: 3px;
}

td {
    padding-left: 8px;
    padding-right: 8px;
    border: 1px solid #990000;
    min-width: 45px;
    height: 45px;
    background-clip: padding-box; /* this has been added */
    border-radius: 5px;
}

#trHeader {
    text-decoration: underline;
    color: #990000;
}

.centerCell {
    text-align: center;
}

@font-face {
    font-family: pirateFont;
    src: url(Treamd.ttf);
}

#time {
    margin: auto;
    font-size: 120pt;
    text-align: center;
    flex: 0 0 65%;
    font-family: pirateFont;    
}

#totalCoins {
    margin: auto;
    font-size: 120pt;
    text-align: center;
    flex: 1;
    font-family: pirateFont;    
}

#coin {
    flex: 0 0 10%;
    vertical-align: middle;
    margin-right: 200px;
}

#wrapper {
    display: flex;
}
